@font-face {
  font-family: RobotoSlabBlack;
  src: url(./fonts/RobotoSlab-Black.ttf);
}

@font-face {
  font-family: RobotoSlabBold;
  src: url(./fonts/RobotoSlab-Bold.ttf);
}

@font-face {
  font-family: RobotoSlabMedium;
  src: url(./fonts/RobotoSlab-Medium.ttf);
}

@font-face {
  font-family: RobotoSlabRegular;
  src: url(./fonts/RobotoSlab-Regular.ttf);
}

:root {
  --color-yellow: #ffca41;
  --color-black: #333333;
  --color-white: #ffffff;
  --color-grey: #33333380;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1,
h2,
p {
  color: var(--color-black);
}

h1 {
  font-family: "RobotoSlabRegular";
  font-size: 5.2rem;
  margin: 0 0 0.3rem 0;
}

h2 {
  font-family: "RobotoSlabBold";
  font-size: 3rem;
}

h3 {
  font-family: "RobotoSlabBlack";
  font-size: 1.8rem;
  color: var(--color-yellow);
}

h5 {
  font-family: "RobotoSlabMedium";
  font-size: 1.3rem;
  color: var(--color-grey);
}

p {
  font-family: "RobotoSlabMedium";
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

section {
  width: 414px;
  margin: 3rem auto 1rem auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
